.posts{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
  }
  .posts__text{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 200;
    color:  rgb(240 248 255);
    
  }
  .posts__inner{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .circle{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    -webkit-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
    box-shadow: 0px 12px 15px -3px rgba(0, 0, 0, 0.623);
    transition: 0.3s all ease-out;
    
  }
  .circle2{
    top: 5px;
    left: 5px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(90, 90, 90);
    opacity: 0;
    transition: 0.3s all ease-out;
    
    
  }
  .circle:hover .circle2{
    opacity: 1;
    
  
  }
  .circle3{
    top: 50%;
    left: 50%;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(175, 174, 174);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s all ease-out;
    transition-delay: 0.3s;
  
    
  }
  .circle:hover .circle3{
    opacity: 1;
    background-color: blue;
    
  }
  .like{
    font-weight: 200;
    margin-left: 150px;
    cursor: pointer;
  }