.header {
    height: 150px;
    border-radius: 10px;
    display: flex;
    background-color: rgb(20, 20, 20);
    align-items: center;
    justify-content:space-between ;
    
  
  
}
.header__logo{
    position: relative;
    padding:5px 20px ;
}
.header__title_item {
    text-align: center;
    color: rgb(86, 96, 105);
    font-weight: 200;
    font-size: 40px;
 
}
.logo {
    
    width: 80px;
    height: 80px;
    
}
