@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');


.header {
    height: 150px;
    border-radius: 10px;
    display: flex;
    background-color: rgb(29, 29, 29);
    align-items: center;
    justify-content:space-between ;
    
  
  
}
.header__logo{
    position: relative;
    padding:5px 20px ;
}
.header__title_item {
    text-align: center;
    color: rgb(53, 53, 53);
    font-weight: 100;
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    
 
}
.logo {
    
    width: 80px;
    height: 80px;
    
}
