.container{
    width: 100%;
    min-height: 100%;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    
}
.title{
    padding: 10px 0 ;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: rgba(182, 72, 38, 0.644);
}
.article{
    width: 80%;
    min-height: 80%;
   
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    background-color: rgba(37, 37, 37, 0.4);
    color: rgb(80, 105, 105);
}
.link{
    transition: 0.4s all;
    display: block;
    text-decoration: none;
    color: rgb(30, 66, 54);
    padding: 10px 0;
}
.link:hover{
    color: rgb(117, 75, 58);
}