*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  

}

body {
  background-color: rgb(255, 255, 255);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.container {
  border-radius: 5px;
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  border-radius: 5px;
  display: flex;
  background-color: rgb(20, 20, 20);
  border: 1px solid rgb(114, 112, 112);
  align-items: center;
  justify-content:space-between ;
  -webkit-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 12px 15px -3px rgba(0, 0, 0, 0.623);


}


.header__title {
  text-align: center;
  color: rgb(238, 238, 238);
  font-weight: 200;
  
  
}
.header__logo{
  padding:5px 20px ;
}

.nav {
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(20, 20, 20);
  min-height: 900px;
  max-width: 270px;
  width: 100%;
  -webkit-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  box-shadow: 9px 12px 15px -3px rgba(0, 0, 0, 0.623);
}

.content {
  border-radius: 5px;
  
  width: 100%;
  margin-left: 80px;

}

.logo {
  width: 80px;
  height: 80px;
  
}

.nav__list>li {
  margin-top: 10px;

}

.nav__link {
  color: aliceblue;
  font-size: 22px;
  padding-right: 40px;
  transition: 0.25s all ease-out;
  font-weight: 200;
  
}
.nav__link:hover{
  color: rgb(162, 177, 189);
}
.settings{
  position: relative;
  margin-right: 20px;
}
.settings::after{
  
  position: absolute;
  top: 0;
  right: -50px;
  content: "";
  display: inline-block;
  width: 80px ;
  height: 80px;
  border-radius: 10px;
  box-shadow: 34px 26px 15px -18px rgba(15, 15, 15, 0.658) inset;
  
  background-image: url('./settings.gif');
  
  object-fit: cover;
  
}

.nav__list>li:last-child {
  margin-top: 60px;
}

.content__img>img {
  border-radius: 5px;
  width: 100%;
  height: 400px;
  object-fit: cover;-webkit-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 12px 15px -3px rgba(0, 0, 0, 0.623);
}

.photo {
  border-radius: 5px;
  width: 190px;
  height: 210px;
  object-fit: cover;
  -webkit-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 12px 15px -3px rgba(0, 0, 0, 0.623);

}

.wrapper__about-me {
  display: flex;
  padding: 50px 15px 50px 0;
}

.my-name {
  margin-left: 80px;
  
}

.my-name__text {
  font-size: 30px;
  color: rgb(54, 1, 1);
  text-shadow: 6px 10px 4px rgba(73, 73, 73, 0.733);
  transition: 0.3s all ease-in;
}
.my-name__text:hover{
  transform: translate(10px, 6px);
  text-shadow:none;
}

.my-info {
  margin-top: 55px;
  font-size: 23px;
  color: rgb(184, 179, 179);
  
}

.my-info>p {
  margin-top: 5px;
  color: rgb(54, 1, 1);
  text-shadow: 6px 10px 4px rgba(73, 73, 73, 0.733);
  transition: 0.3s all ease-in;
}
.my-info > p:hover{
  transform: translate(10px, 6px);
  text-shadow:none;
}
.web__link{
  color: dodgerblue;
}
.post{
  padding: 0 170px 150px;
  margin: 0 auto;
  width: 1200px;
}
.textarea{
  padding: 10px;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  border-radius: 10px;
  resize: none;
  color: rgb(224, 222, 222);
  outline: none;
  background-color: rgb(20, 20, 20);
  -webkit-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  box-shadow: 4px 12px 15px -3px rgba(0, 0, 0, 0.623);
}
.textarea::placeholder{

  color: rgba(238, 236, 236, 0.712);
  font-size: 16px;
  
  
}

.btn__textarea{
  display: block;
  padding: 10px 25px;
  border-radius: 10px;
  outline: none;
  background-color: dodgerblue;
  color: white;
  border: none;
  margin:20px 0 80px;
  -webkit-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  box-shadow: 4px 12px 15px -3px rgba(0, 0, 0, 0.623);
  cursor: pointer;
  transition: 0.4s all ease-out;
}
.btn__textarea:hover{
  transform: translate(4px, 12px);
  box-shadow: none;
  background-color: rgb(117, 117, 117);
}
.title__post{
  margin-bottom: 30px;
  padding: 10px 0;
  color: rgb(41, 40, 40);
  text-shadow: 4px 12px 4px rgba(73, 73, 73, 0.603);
  font-weight: 300;
  font-size: 30px;
}


.posts{
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 20px auto;
}
.posts__text{
  margin-left: 200px;
  font-size: 20px;
  color: rgb(54, 1, 1);
  text-shadow: 4px 12px 4px rgba(73, 73, 73, 0.603);
}
.circle{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  -webkit-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 12px 15px -3px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 12px 15px -3px rgba(0, 0, 0, 0.623);
  transition: 0.3s all ease-out;
  
}
.circle2{
  top: 5px;
  left: 5px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: 2px solid white;
  opacity: 0;
  transition: 0.3s all ease-out;
  
  
}
.circle:hover .circle2{
  opacity: 1;
  box-shadow: 0px 0px 5px  rgb(255, 255, 255);

}
.circle3{
  top: 16px;
  left: 16px;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  transition: 0.3s all ease-out;
  transition-delay: 0.3s;

  
}
.circle:hover .circle3{
  opacity: 1;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0px 0px 15px 2px rgb(255, 255, 255); */
}