.nav {
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    height: 600px;
    max-width: 270px;
    position: sticky;
    width: 100%;
   
    text-align: center;
}
.nav__list>li {
    margin-top: 30px;
    letter-spacing: 8px;
  
}
.nav__link {
    color: rgb(86, 96, 105);
    font-size: 22px;
    transition: 0.25s all ease-out;
    font-weight: 200;
    text-align: center;
    padding: 0 10px;
    
  }
  .nav__link:hover{
    color: rgb(101, 150, 190);
  }

  .nav__list>li:last-child {
    margin-top: 160px;
  }
  .border{
    position: relative;
    transition: .4s all ease-in;
  }
  .border::before,
  .border::after{
    content: '';
    display: block;
    position:absolute;
    height: 1px;
    width: 0%; 
    background-color: rgb(101, 62, 102);
    bottom: 0;
    transition: .4s all ease-in;
  }
  .border:hover::before,
  .border:hover::after{
    content: '';
    display: block;
    position:absolute;
    height: 1px;
    width: 50%; 
    background-color: rgb(109, 30, 109);
    
    bottom: 0;
  }
  .border::after{
    right: 0;
  }
  .border::before{
    left: 0;
  }
  .settings{
    
   margin: 20px auto 0;
    display: block;
    width: 80px;
    height: 80px;
    background-image: url('../../settings.gif');
    box-shadow: 9px 12px 15px -3px inset rgba(0, 0, 0, 0.877);
    border-radius: 10px;
  }
  .settings::after{
    content: "";
    display:block;
    margin: 20px auto 0;
    width: 80px;
    height: 80px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.507);
  }
  